
<h1>What book did you read?</h1>
<form action="/posts" method="POST">
<h3>Enter the following:</h3>
<p>
<label>Book Title:</label></br>
<input type="text" name = "title" id = "title"></br>
<label>Genre:</label></br>
<input type="text" name = "genre" id = "genre"></br>
<label>Author:</label> </br>
<input id="author" type="text" name="author"></br>
<label>Description:</label></br>
<input type="text" name = "description" id = "description"></br>
<label>Review:</label></br>
<input type="text" name = "review" id = "review"></br>
</p>
<input type="submit" id="Submit">
</form>
