<img src="/images/baselogo.png" alt="Book Tracker Logo" width="100" height="50" class="small-logo">
<h1>What book did you read?</h1>
<form action="/posts" method="POST">
<h3>Enter the following:</h3>
<p>



<label>Book Title:</label></br>
<input type="text" name = "title" id = "title"></br>
<label>Author:</label></br>
<input type="text" name = "author" id = "author"></br>
<label>Genre:</label> </br>
<input id="genre" type="text" name="genre"></br>
<label>Description:</label></br>
<input type="text" name = "description" id = "description"></br>
<label>Review:</label></br>
<input type="text" name = "review" id = "review"></br>
</p>
<input type="submit" id="Submit">
</form>
