
<link rel="stylesheet" href="main.css">


<img src="/images/book_tracker_logo.png" alt="Book Tracker Logo" width="500" height="350" class="main-image" >

<h1>An easy solution to tracking books you have read<h1><br>
<h2>You Must <a href="/login">Log In</a> to Track Your Reading</h2>

<h4>If you don't have an account you can <a href="/signup">Sign Up</a> to track your reading</h4>
